[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
socket=$HOME/.state/mariadb/tmp/mysql.sock
port=$DBPORT

# The MariaDB server
[mysqld]
# Directory where you want to put your data
data=$HOME/.state/mariadb/data
# Directory for the errmsg.sys file in the language you want to use
language=$HOME/.state/mariadb/english

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
general-log
